.container{
    border:1px solid red;
    padding:20px;
    h2{
        background-color:blue;
        color:black;
        text-align:center;
    }
    p{
        color:cyan;
        text-align: justify;
    }
}